/* styles.css */

/* 모달 */
                    
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.npc {
    display: flex;
    gap: 35px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-name {
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    font-size: 1.5em; /* 이름 글자 크기 조정 */
    margin-top: 0px;
    color: #fff;
}

/* 폰트 / font*/
.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

.nanum-gothic-regular {
font-family: "Nanum Gothic", sans-serif;
font-weight: 400;
font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  

body, html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'TTLaundryGothicB'
}


.container {
    display: flex;
    flex-direction: column; /* 모바일은 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
    height: 100%;
}

.container > *{
    flex: 1;
}

.character-image {
    position: relative; /* 메시지 버블이 겹치기 위해 */
    width: 100%; /* 이미지가 전체 너비를 차지하도록 */
}

.character-image img {
    width: 100%;
    height: auto;
    display: block; /* 이미지가 올바르게 표시되도록 */
    height: calc(100vh - 20px); /* 브라우저 창의 높이를 꽉 채우도록 계산 */
    object-fit: cover;
}

.message-bubble {
    position: absolute; /* 이미지 위에 오도록 절대 위치 설정 */
    /* bottom: 20%; 이미지 하단으로부터의 위치 */
    bottom: 5%;
    background-color: rgba(255, 100, 100, 0.7);
    width: 70%; /* 가로 너비 설정 */
    
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center; /* 텍스트 가운데 정렬 */
}

.profile-pic img {
    width: 56px; /* 크기 조정 */
    height: auto;
    border-radius: 25%;
    /* position: absolute; */
    /* left: 10%; */
    /* transform: translateX(-50%); 중앙정렬*/
}

.texts {
    /* margin-top: 20px; 프로필 사진 위로 공간 확보 */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.question, .reply {
    background-color: #fff;
    border-radius: 10px;
    padding: 13px;
    margin-bottom: 10px;
    display: inline-block; 
    position: relative;
    width: fit-content;
}

.question {
    margin-top: -5%;
    position: relative; /* 부모 요소에 상대적인 위치 지정 */
    z-index: 2;
    font-size: 1.3em;
    height: 100%;
    font-weight: bold;
}

.question::after {
    z-index: -1;
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: #ffff transparent transparent #ffff;
    bottom: -6px;
    left: 95%;
    transform: translateX(-50%) rotate(45deg);
}


.reply {
    text-align: left;
    font-size: 1.3em;
}


@media (min-width: 768px) {

    .profile-name {

        text-align: center;
        font-weight: 800;
        font-size: 1.7em; /* 이름 글자 크기 조정 */
        color: #fff;
    }

    .profile-pic img {
        width: 86px; /* 크기 조정 */
        height: auto;
        border-radius: 30%;
        /* position: absolute; */
        /* left: 10%; */
        /* transform: translateX(-50%); 중앙정렬*/
    }

    .reply {
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 1.3em;
    }
    
    .reply:hover {
        background-color: #fdd;
    }

    .question {
        margin-top: -5%;
        position: relative; /* 부모 요소에 상대적인 위치 지정 */
        z-index: 2;
        font-size: 1.3em;
        height: 100%;
        font-weight: bold;
    }
    
    .question::after {
        z-index: -1;
        content: '';
        position: absolute;
        border-width: 15px;
        border-style: solid;
        border-color: #ffff transparent transparent #ffff;
        bottom: -8px;
        left: 95%;
        transform: translateX(-50%) rotate(45deg);
    }

    .character-image img{
        width: auto;
    }

    .container {
        flex-direction: row; /* 데스크탑은 가로 정렬 */
        display: flex;
        flex-direction: column; /* 모바일은 세로로 정렬 */
        align-items: center; /* 가운데 정렬 */
        height: 100%;
        margin: 0% 10% 0% 10%;
    }

    .character-image {
        /* width: 50%; */
    }

    .message-bubble {
        background-color: #ff6464;
        position: relative; /* 기본 위치로 */
        bottom: auto; /* 위치 재설정 */
        width: 50%;
        margin-left: -150px; /* 겹치도록 위치 조정 */
    }

    .profile-pic img {
        /* top: 10px; */
        /* left: 10px; */
        /* transform: translateX(0); 이미지 왼쪽 상단 정렬 */
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row; /* 데스크탑은 가로 정렬 */
        align-items: flex-start; /* 상단 정렬 */
    }

    .character-image {
        position: relative; /* 메시지 버블이 겹치기 위해 */
    }


    .message-bubble {
        position: absolute; /* 이미지 위에 오도록 절대 위치 설정 */
        bottom: 20%; /* 이미지 하단으로부터의 위치 */
        right: 5%; /* 오른쪽 정렬 */
        
        margin-left: 0; /* 이전 설정 초기화 */
    }

    .profile-pic img {
        /* top: -20px; */
        /* left: 50%; */
        /* transform: translateX(-50%); 중앙 정렬을 위해 */
    }

    /* 나머지 스타일은 그대로 유지합니다. */
}
